body{
    background-color: #f5f8f5;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: #235e25;
    padding: 5px;
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 10px;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(240, 117, 9);
    font-size: 25px;
    font-weight: bold;
}