body{
    background-color: #f5f8f5;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    
}
/* navigation bar */
nav{
    background-color: #435e23;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #54081a;
}
nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 10px 0;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(240, 117, 9);
    font-size: 25px;
    font-weight: bold;
}
/* hero section */
.hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;

}
.hero h1{
    font-size: 50px;
    margin-top: 0;
    /* font-style: italic; */
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgb(89, 135, 9);
    

}
.hero p{
    font-size: 25px;
    margin-bottom: 40px;
    font-style: italic;
    

}
.hero a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #435e23;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #54081a;
}