body{
    background-color: #c3f1c3;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    
}

/* navigation bar */
nav{
    background-color: #435e23;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #54081a;
}
nav ul{
    list-style-type: none;
    margin: 20px;
    padding: 10px 0;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(240, 117, 9);
    font-size: 25px;
    font-weight: bold;
}
/* hero section */
.hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 20px;
    color: rgb(239, 113, 10);
    font-size: 30px;

}
.hero h1{
    font-size: 50px;
    margin-top: 0;
    font-style: italic; 
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgb(89, 135, 9);
    
    

}
.hero p{
    font-size: 25px;
    margin-bottom: 40px;
    /* font-style: italic; */
    color: rgb(67, 101, 6);
    

}
.hero a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #435e23;
    color: rgb(236, 124, 33);
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #54081a;
}
.hero a:hover{
    background-color: #54081a;
    color: rgb(236, 124, 33);
    border: 2px solid #435e23;
}
/* footer section */
footer{
    background-color: #435e23;
    color: rgb(236, 124, 33);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about{
    background-color: #c3f1c3;
    padding: 50px 20px;
    text-align: center;
    color: rgb(67, 101, 6);
}
.about h2{
    font-size: 40px;
    margin-top: 0;
    font-style: italic; 
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgb(89, 135, 9);
}
.about p{
    font-size: 25px;
    margin-bottom: 40px;
    /* font-style: italic; */
    color: rgb(67, 101, 6);
    
}
.products{
    background-color: #c3f1c3;
    padding: 50px 20px;
    text-align: center;
    color: rgb(67, 101, 6);
}
.products h2{
    font-size: 40px;
    margin-top: 0;
    font-style: italic; 
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgb(89, 135, 9);
}
.products p{
    font-size: 25px;
    margin-bottom: 40px;
    /* font-style: italic; */
    color: rgb(67, 101, 6);
    
}
.filter{
    background-color: #c3f1c3;
    padding: 10px 20px;
    text-align: center;
    color: rgb(67, 101, 6);
    margin-bottom: 20px;
}
button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #435e23;
    color: rgb(236, 124, 33);
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #54081a;
}
button:hover{
    background-color: #54081a;
    color: rgb(236, 124, 33);
    border: 2px solid #435e23;
    cursor: pointer;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.product-item{
    background-color: #435e23;
    color: rgb(236, 124, 33);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.product-item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}
.product-item h3{
    font-size: 20px;
    margin: 10px 0;
}
.product-item p{
    font-size: 16px;
    margin: 0;
    color: #000;
    font-weight: bold;
}
.product-item-clothing{
    background-color: #435e23;
    color: rgb(236, 124, 33);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 80px;
}
.product-item-clothing img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-item-clothing h3{
    font-size: 20px;
    margin: 10px 0;
}
.product-item-clothing p{
    font-size: 16px;
    margin: 0;
    color: #000;
    font-weight: bold;
}
.product-item-accessories{
    background-color: #435e23;
    color: rgb(236, 124, 33);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 80px;
}
.product-item-accessories img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-item-accessories h3{
    font-size: 20px;
    margin: 10px 0;
}
.product-item-accessories p{
    font-size: 16px;
    margin: 0;
    color: #000;
    font-weight: bold;
}
.add-product{
    background-color: #c3f1c3;
    padding: 50px 20px;
    text-align: center;
    color: rgb(67, 101, 6);
}
.add-product h2{
    font-size: 40px;
    margin-top: 0;
    font-style: italic; 
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgb(89, 135, 9);
}
.add-product form{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}
.add-product label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.add-product input[type="text"],
.add-product input[type="number"],
.add-product select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #54081a;
    border-radius: 5px;
}
.add-product button{
    background-color: #54081a;
    color: rgb(236, 124, 33);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-product button:hover{
    background-color: #435e23;
}
.contact{
    background-color: #c3f1c3;
    padding: 50px 20px;
    text-align: center;
    color: rgb(67, 101, 6);
}
.contact h2{
    font-size: 20px;
    margin-top: 0;
    font-style: italic; 
    text-decoration: underline;
    text-shadow: 0px 10px 10px rgb(89, 135, 9);
}
.contact h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(67, 101, 6);
    text-decoration: underline;
}
